@page
@using WebApplication1.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Uploader</h1>
    <a href="/Document/Upload" class="btn btn-success m-5">Upload File</a>
    <a href="/Document/Index" class="btn btn-primary m-5">File Manager</a>
</div>
